%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [warnings_as_errors]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{sub_dirs, ["rel"]}.

{edoc_opts, [{doclet, edown_doclet}, 
             {dialyzer_specs, all}, 
             {report_missing_type, true},
             {report_type_mismatch, true}, 
             {pretty_print, erl_pp},
             {preprocess, true}]}.

{deps, [
        {eredis_pool, 
         "1.*",
         {git, "git://github.com/hiroeorz/eredis_pool.git", 
          {branch, "master"}}},

        {jiffy, 
         "0.*",
         {git, "git://github.com/davisp/jiffy.git", 
          {branch, "master"}}},

        {mochiweb, 
         "2.3.1",
         {git, "git://github.com/mochi/mochiweb.git", 
          {tag, "v2.3.1"}}},

        {cowboy, 
         "0.*",
         {git, "git://github.com/extend/cowboy.git", 
          {branch, "master"}}},

        {postgres_pool, 
         "1.*",
         {git, "git://github.com/hiroeorz/postgres_pool.git", 
          {branch, "hivespark"}}},

        {edown, 
         "0.3.*",
         {git, "git://github.com/esl/edown.git", 
          {branch, "master"}}}
       ]}.

