@charset "UTF-8";

/* ---------------------
 * FONTSIZE MODEL * 
 * ---------------------
 *  63% ->	10pxに相当
 *  70% ->	11pxに相当
 *  75% ->	12pxに相当
 *  82% ->	13pxに相当
 *  88% ->	14pxに相当
 *  94% ->	15pxに相当
 * 100% ->	16pxに相当
 * 107% ->	17pxに相当
 * 113% ->	18pxに相当
 * 119% ->	19pxに相当
 * 125% ->	20pxに相当
 * --------------------- */


/* ========BASIC======== */
* {
   font-family:"Hiragino Kaku Gothic Pro",HiraKakuPro-W3,"ヒラギノ角ゴ Pro W3","MS P ゴシック",sans-serif;
   color:#333;
}

body {
   background:url(/shared/images/bg.gif) fixed;
   background-color: #111;
   letter-spacing:1px;
   line-height:1.6;
   margin: 0;
}

h1#title {
   height: 30px;
   background:url(/shared/images/top.png);
   background-repeat: no-repeat;  
}

h1,h2,h3,h4,h5,h6 {
   font-family: "ＭＳ Ｐ明朝", 細明朝体, "ヒラギノ明朝 Pro W3";
   margin:0;
   padding:0;
   font-weight: bold;
   font-size: 100%;/* 14px相当 */
}

p {
   margin:0 0 1em 0;
   padding:0;
   font-size:88%;/* 14px相当 */
}

br {
   letter-spacing:normal;
}

img {
   border:0;
}
a {
   color:#68903C;
   text-decoration:none;
}

a:hover {
   color:#92C45B;
   border-bottom:1px solid #92C45B;
}

dl,ol,ul {
   margin:0 0 1em 0;
   padding:0;
   font-size:88%;/* 14px相当 */
}

li {
   margin:0 0 0 40px;
   padding:0;
}


/* ========TEMPLATE WIREFRAME======== */
div#top {
   width: 980px;
   margin:0 auto;
   padding:0 0px;
   border:1px solid #CECFCE;
   background:#fff;
}

div#header {
   width:980px;
   position:relative;
}

div#navi {
   position:absolute;
   top:0;
   right:0;
}

div#menu {
   float:left;
   width:980px;
   height: 40px;
   margin:0 0;
   background-image: url(/shared/main_menu.png);
   background-repeat: repeat-x;
}

div#sub-menu {
   float:left;
   width:980px;
   margin:0;
   margin-bottom: 10px;
   background-image: url(/shared/images/sub_menu.png);
   background-repeat: repeat-x;
}

div#contents {
   clear:both;
   min-height: 750px;
}

div#totop {
   clear:both;
}

div#footer {
   width:980px;
   clear:both;
   padding:10px 0;
}

/* ========HEADER CUSTOMIZE======== */
div#header h1 {
   padding:20px 0;
   font-weight:bold;
   font-size: 100%;/* 28px相当 */
}

div#header p {
   margin:0;
   padding:0 0 5px 0;
   border-bottom:1px solid #CECFCE;
}

div#navi ul {
   list-style:none;
}

div#navi li {
   float:left;
   margin:0 0 0 0px;
   padding:0 20px 0 20px;
   font-size:82%;/* 13px相当 */
}

div#navi li.settings {
   background:url(/shared/user_menu.png) 0 50% repeat-x;
}

div#navi li.logout {
   background:url(/shared/user_menu.png) 0 50% repeat-x;
}

div#navi li.feed {
   background:url(/shared/images/icon_feed.gif) 0 50% no-repeat;
}

div#navi li a {
   border-bottom:none;
   color: #239cb1;
}

/* ========LOGIN======== */
.formRow {
  padding: 5px;
}

.login-title {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#7c95a4), to(#42596b));
  background: -moz-linear-gradient(90deg,#7c95a4,#42596b);
  color: #fff;
  padding-top: 2px; 
  padding-bottom: 2px;
  margin-top: 10px; 
  width: 302px;
  font-weight: bold;
}

.login-form-top{
  display: block;
  width: 300px;
  background-color: #eff7f7;
  border: 1px solid #dbdbe5;
}

/* ========MENU CUSTOMIZE======== */
div#menu ul {
   list-style:none;
   margin:0;
   padding:0;
   font-size:75%;/* 12px相当 */
}
div#menu li {
   float:left;
   margin:0;
   padding:0;
}
div#menu li a {
   font-weight: bold;
   display: block;
   padding: 8px 20px;
   color: #fff;
   cursor: pointer;
   margin-top: 5px;
}

div#menu li a:hover {
   font-weight: bold;
   color:#fff;
   border:none;
}

div#menu li a.thoughtbot {
    margin-top: 7px;
    margin-right: 2px;
}

div#menu .on {
   font-weight: bold;
   color:#fff;
}

/* ========SUB MENU CUSTOMIZE======== */
div#sub-menu ul {
   list-style:none;
   margin:0;
   padding:0;
   font-size:75%;/* 12px相当 */
}
div#sub-menu li {
   float:left;
   margin:0;
   padding:0;
}
div#sub-menu li a {
   font-size: 1.0em;
   font-weight: bold;
   display:block;
   padding:8px 20px;
   color: #947dff;
}

div#sub-menu li a:hover {
   font-weight: bold;
   color: #947dff;
   border:none;
}

div#sub-menu .on {
   font-weight: bold;
   color: #947dff;
}

/* ========CONTENTS CUSTOMIZE======== */

div#contents h2 {
   border-left:5px;
   border-left-style: solid;
   border-left-color: #7f2317;
   font-size: 1.6em;/* 16px相当 */
   margin:5px 0;
   padding:2px 0 2px 10px;
   line-height:1.0;
}

div#contents h3 {
   font-weight:bold;
   font-size: 1.1em;/* 15px相当 */
}

div#contents dl {
   margin:0;
   padding:0;
}

div#contents dt {
   text-decoration:underline;
}

div#contents dd {
   margin:0 0 1em 1em;
}

/* Polaroid style photo */
div#contents div.pola {
   margin-left: 10px;
   float:left;
   clear:both;
   width:222px;
   margin-right:10px;
   padding-bottom:16px;
   background:url(/shared/images/bg_pola.gif) no-repeat 100% 100%;
   background-color: #222222;
}

div#contents ul.pola {
   clear:both;
   letter-spacing:-0.4em;
   font-size:100%;/* 16px相当 */
   list-style:none;
}

div#contents div#participation {
    display:block;
    float: left;
}

div#contents ul.pola li {
   display:inline-block;
   /display:inline;
   /zoom:1;
   vertical-align:top;
   width:200px;
   margin:30px 20px 0 10px;
   padding:0 0 16px 0;
   letter-spacing:1px;
   background: #111;
   background: -webkit-gradient(linear, left top, right bottom, from(#555), to(#000));
   background: -moz-linear-gradient(linear, left top, right bottom, from(#555), to(#000));
   background-image:url(/shared/images/project_back.png) repeat-y 100% 100%;
}

div#contents .pola img {
   padding:10px;
   border-top:1px solid #E7E7E7;
   /* border-left:1px solid #E7E7E7; */
   vertical-align:bottom;
   width: 180px;
   height: 135px;
}

div#contents .pola p {
   margin:0;
   padding:0 10px 10px 10px;
   font-size:82%;/* 13px相当 */
   color: #ccc;
   line-height:1.2;
   height:30px;
   /*border-left:1px solid #E7E7E7; */
}

div#contents .pola h3 {
   font-style: normal;
   font-weight: normal;
   font-family: Georgia, "Times New Roman", Times, serif;
   margin:0;
   padding:0 10px 10px 10px;
   font-size: 1.1em;
   color: #ffc755;
   line-height: 1.60;
}

div#contents .pola ul.members {
   clear:both;
   letter-spacing:-0.4em;
   list-style:none;
   margin-right: 15px;
   margin-top:-40px;
   text-align: right;
}

div#contents .pola ul.members li {
   display:inline-block;
   width: 35px;
   background: transparent;
   margin:0;
   padding:0;
   border:none;
   margin-left:5px;
}

div#contents .pola ul.members li img {
	height: 35px;
	width: 35px;
	margin:0;
	padding:0;
	border:2px solid #eee;
}

/* ========PROFILE========= */

div#profile {
    display:inline;
    float: right;
    margin-top: 0;
    text-align:right;
}

div#profile img {
    margin-top: 3px;
    width: 50px;
    height: 50px;
}

div#profile p {
  margin-bottom: 0.2em;
}

div#profile p#participation-count {
  color: red;
}

div#profile p#watch-count {
  color: green;
}

/* ========PROJECT INFORMATION========= */

div#contents div#project-information {
    display: block;
    float: left;
}

div#contents div#project-information h2#project-name {
    color: #a72e1f;
    border:none;
    margin-left: 200px;
}

div#contents div#project-information h3 {
    color: #a72e1f;
    border:none;
    margin-left: 210px;
    margin-top: 20px;
    font-size: 1.2em;
}

div#contents div#project-information div#project-description {
    width: 440px;
    margin-left: 210px;
}

div#contents div#project-information div#team-status {
    width: 440px;
    margin-left: 210px;
}

div#contents div#project-information img {
    display:inline;
    float: left;
    width: 200px;
    height: 150px;
}

div#contents #member-area ul.members {
   clear:both;
   letter-spacing:-0.4em;
   list-style:none;
   margin-left: 0;
   margin-top:3px;
}

div#contents #member-area ul.members li {
   display:inline-block;
   /display:inline;
   /zoom:1;
   width: 50px;
   background: transparent;
   margin:0;
   padding:0;
   border:none;
   margin-left:5px;
}

div#contents #member-area ul.members li img {
	height: 50px;
	width: 50px;
	margin:0;
	padding:0;
	border:2px solid #eee;
}


/* ========PROJECT INFORMATION CONTENT========= */

div#contents div#project-information project_information-content {
    display:inline;
    float: left;
    width: 700px;
}

/* ========STEP CONTENT========= */

div#step_area {
    display: block;
    float: left;
    width: 650px;
}

div#contents ul.steps {
   clear:both;
   letter-spacing:0em;
   list-style:none;
   margin-left: 0;
   margin-top:20px;
}

div#contents ul.steps li {
   position:relative;
   top:0;
   left:0;
   display:inline-block;
   /display:inline;
   /zoom:1;
   width: 600px;
   background: transparent;
   margin:0;
   margin-bottom:20px;
   padding:10px 5px;
   border:none;
   margin-left:5px;
   background: #111;
   background: -webkit-gradient(linear, left top, right bottom, from(#555), to(#000));
   background: -moz-linear-gradient(linear, left top, right bottom, from(#555), to(#000));
   background-image:url(/shared/images/project_back.png) repeat-y 100% 100%;
}

div#contents ul.steps li h3 {
  color: #fff;
  font-weight:bold;
  margin-left: 65px;
  width: 450px;
}

div#contents ul.steps li h4 {
  display:inline;
  float:left;
  color: #FFC755;
  font-weight:bolder;
  margin-left: 65px;
  width: 90px;
}

div#contents ul.steps li p {
  color: #bbb;
  margin-top: 3px;
  margin-left: 65px;
  width: 400px;
}

div#contents ul.steps li img {
  display:inline;
  float:left;
  width: 60px;
  height: 60px;
}

div#contents ul.steps li div.step_graph {
  display:inline;
  float:left;
  width: 300px;
  height: 20px;
  border:1px solid white;
}

div#contents ul.steps li div.step_graph div.step_graph_value {
  display:inline;
  float:left;
  width: 1px;
  height: 20px;
  border:none;
  background-color:green;
  background: -webkit-gradient(linear, center top, center bottom, from(lime), to(green));
  background: -moz-linear-gradient(linear, bottom, from(lime), to(green));
}

div#contents ul.steps li div.step_graph div.executing {
  background-color: #a72e1f;
  background: -webkit-gradient(linear, center top, center bottom, from(#c05f75), to(#a72e1f));                                                                                        
  background: -moz-linear-gradient(linear, bottom, from(#c05f75), to(#a72e1f));
}

div#contents ul.steps li a.play_stop_button {
  display:inline;
  float:left;
  margin:0;
  margin-left:40px;
  margin-top:-25px;
}

div#contents ul.steps li a.play_stop_button img {
  width:50px;
  height:50px;
}

/* ========STOPPING STEP CONTENT========= */
div#contents ul.stopping li div.step_graph div.step_graph_value {
  background-color: #4a4a4a;
  background: -webkit-gradient(linear, center top, center bottom, from(#a7a7a7), to(#4a4a4a));                                                                                        
  background: -moz-linear-gradient(linear, bottom, from(#a7a7a7), to(#4a4a4a));
}

div#contents ul.stopping li h3 {
  margin-left: 10px;
}

div#contents ul.stopping li h4 {
  margin-left: 65px;
}

div#contents ul.stopping li p {
  margin-left: 10px;
}

div#contents ul.stopping li a.get_step {
  display:inline;
  float:right;
  margin:0;
  margin-top:-25px;
  margin-right:10px;
  padding: 1px 5px;
  background-color: #ea8282;
  border:1px solid white;
  color:white;
}

/* ========ISSUES CONTENT========= */
div#contents ul#issues {
   clear:both;
   letter-spacing:0em;
   list-style:none;
   margin-left: 0;
   margin-top:20px;
}

div#contents ul#issues li {
   position:relative;
   top:0;
   left:0;
   display:inline-block;
   /display:inline;
   /zoom:1;
   width: 600px;
   background: transparent;
   margin:0;
   margin-bottom:20px;
   padding:10px 5px;
   border:2px solid #acacac;
   margin-left:5px;
   background-color: #d2fff3;
}

div#contents ul#issues li {
    width: 600px;
}

div#contents ul#issues li img {
    display:inline;
    float:left;
    width: 60px;
    height: 60px;
}

div#contents ul#issues li p {
  display:block;
  color: #222;
  margin-left: 65px;
  width: 450px;
}

div#contents ul li button.set_step {
  display:inline;
  float:right;
}

div#contents ul li button.set_step_negative {
  display:inline;
  float:right;
}

/* ========TIMELINE CONTENT========= */

div#contents div#timeline_area {
    display: block;
    float: right;
    z-index:100;
    background-color: #0d0d0d;
    width: 313px;
    height: 800px;
}

div#contents div#timeline_area a.menu_icon {
  margin: 5px 10px;
  margin-right:0;
}

div#contents div#timeline_area a:hover.menu_icon, div#contents div#timeline_area a:visited.menu_icon {
  text-decoration:none;
}

div#contents div#timeline_scroll {
  display: inline;
  float:left;
  width: 330px;
  height:730px;
  overflow-y: scroll
}

div#contents ul#timeline {
   clear:both;
   letter-spacing:0em;
   list-style:none;
   margin-left: 0;
   margin-top:0;
}

div#contents ul#timeline {
  display: block;
  float: left;
  clear:none;
  margin-right:10px;
  width: 300px;
}

div#contents ul#timeline li {
   position:relative;
   top:0;
   left:0;
   display:inline-block;
   /display:inline;
   /zoom:1;
   width: 295px;
   margin:0;
   padding:10px 5px;
   border:none;
   border-bottom:1px solid #bababa;
   margin-left:5px;
   background-color: #fff;
}

div#contents ul#timeline li.timeline_header {
  background-color: #ffa42c;
}

div#contents ul#timeline li.timeline_header h4 {
  color: white;
  height:30px;
  line-height:30px;
  text-align:left;
}

div#contents ul#timeline li img {
  display:inline;
  float:left;
  width: 45px;
  height: 45px;
}

div#contents ul#timeline li h3 {
  display:inline;
  width: auto;
  margin:0;
  margin-bottom:0;
  line-height:20px;
  font-size:1.1em;
}

div#contents ul#timeline li p {
  display:block;
  color: #222;
  margin:0;
  margin-left: 47px;
  padding:0;
  width: 255px;
}

div#contents ul#timeline li p.tweet_time {
  display:inline;
  color: #999999;
  margin:0;
  margin-left: 5px;
  padding:0;
}

div#contents ul#timeline li a.reply {
  display:inline;
  float:right;
  margin:0;
  padding: 1px 5px;
  background-color: #474747;
  border:1px solid white;
  color:white;
  font-size: 0.8em;
}

div#contents div#timeline_area a.right_menu {
  position:absolute;
  left:340px;
  top: 50px;
}


div#contents div#timeline_area a.hometimeline { top:50px; } 
div#contents div#timeline_area a.mentions { top:100px; } 
div#contents div#timeline_area a.mytweet { top:150px; } 


/* ========WIDE TIMELINE CONTENT========= */
div#contents div#wide_timeline_area {
  position:inherit;
  background-color: #0d0d0d;
  width: auto;
  height:inherit;
}

div#contents div#wide_timeline_area a.menu_icon {
  margin: 5px 10px;
  margin-right:0;
}

div#contents div#wide_timeline_area a:hover.menu_icon, div#contents div#wide_timeline_area a:visited.menu_icon {
  text-decoration:none;
}

div#contents div#wide_timeline_area a.right_menu {
  position:inherit;
  left:340px;
  top: 50px;
}

div#contents div#wide_timeline_area a.hometimeline { top:50px; } 
div#contents div#wide_timeline_area a.mentions { top:100px; } 
div#contents div#wide_timeline_area a.mytweet { top:150px; } 

div#contents div#wide_timeline_area div#timeline_scroll {
  width: 930px;
  height:inherit;
  overflow-y: visible;
}


/* ========TOTOP CUSTOMIZE========= */
div#totop {
   padding:10px 0;
   text-align:right;
   font-size:82%;/* 13px相当 */
}

div#totop a {
   padding:0 0 0 12px;
   background:url(/shared/images/bg_totop.gif) 0 60% no-repeat;
}


/* ========FOOTER CUSTOMIZE======== */
address {
   text-align:center;
   font-size:63%;/* 10px相当 */
   font-style:normal;
   padding:20px 0;
   border-top:1px solid #CECFCE;
}

/**/
a#new-ticket-link {
    display: block;
    float: right;
    margin-top: -30px;
}