{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "hivespark", "1",
        [
         kernel,
         stdlib,
         sasl,
	 compiler,
	 crypto,
	 inets,
	 public_key,
	 ssl,
	 syntax_tools,
	 xmerl,
         mochiweb,
         poolboy,
         eredis,
         eredis_pool,
         jiffy,
         cowboy,
         epgsql,
         postgres_pool,
         hivespark
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "hivespark"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, kernel, [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, public_key, [{incl_cond, include}]},
       {app, ssl, [{incl_cond, include}]},
       {app, syntax_tools, [{incl_cond, include}]},
       {app, xmerl, [{incl_cond, include}]},
       {app, sasl,   [{incl_cond, include}]},
       {app, mochiweb, [{incl_cond, include}]},
       {app, poolboy, [{incl_cond, include}]},
       {app, eredis, [{incl_cond, include}]},
       {app, eredis_pool, [{incl_cond, include}]},
       {app, jiffy, [{incl_cond, include}]},
       {app, cowboy, [{incl_cond, include}]},
       {app, epgsql, [{incl_cond, include}]},
       {app, postgres_pool, [{incl_cond, include}]},
       {app, hivespark, [{incl_cond, include},{lib_dir, ".."}]}
      ]}.

{target_dir, "hivespark"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/hivespark", "bin/hivespark"},
           {copy, "files/vm.args", "etc/vm.args"},
           %%{copy, "files/app.config", "etc/app.config"}

           {copy, "files/hivespark.cmd", "bin/hivespark.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.