{sys, [
       {lib_dirs, []},
       {rel, "hivespark", "1",
        [
         kernel,
         stdlib,
         sasl,
	 postgres_pool,
	 eredis_pool,
	 cowboy,
	 hivespark
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "hivespark"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, postgres_pool, [{incl_cond, include}, {lib_dir, "."}]},
       {app, eredis_pool, [{incl_cond, include}, {lib_dir, "."}]},
       {app, cowboy, [{incl_cond, include}, {lib_dir, "."}]},
       {app, hivespark, [{incl_cond, include}, {lib_dir, "."}]}
      ]}.

{target_dir, "hivespark"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/hivespark", "bin/hivespark"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
